<!DOCTYPE html>
<html lang="en">
<head>
<title>Photos - Locations overview</title>
<%1%>
<link rel="stylesheet" href="photos_style.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="locations.css" type="text/css" media="screen"/>
<script src='core.js'></script>
<script src='view_settings.js'></script>
<script src="lazysizes.min.js" async=""></script>
</head>

<body onload="loadViewSettings('locations_')">

<%2%>

<%3%>

<%4%>

</body>
</html>
