<html>
<head>
<title>Photos</title>
<%1%>
<link rel="stylesheet" href="photos_style.css" type="text/css" media="screen" />
</head>

<body>
<%2%>
<br>


<a href="test_bars.html">Test Bars</a><br><br>
<a href="test_popup1.html">Test Popup</a><br><br>

<a href="gallery_simple">Gallery Simple</a><br>
<a href="gallery_advanced">Gallery Advanced</a><br>
<a href="slide_show">Slide Show</a><br>



</body>
</html>
